nav{
   
    position: absolute;
    left:7px;
    top:0;
    color:lightcoral;
    font-size: large;
    

    div{
        margin-top: 15px;
       
        a{
            text-decoration: none;
        }
    }
}